:root {
    --theme-color: lightblue;
    --main-bg-color: azure;
    --main-color: white;
    --link-color: white;
    --link-hover-color: black;
    --link-hover-bg-color: var(--theme-color);
    --border: 0.01rem solid darkslategrey;
    --main-font-size: .9rem;
    --medium-font-size: .8rem;
    --small-font-size: .7rem;
    --message-color: black;
    --bg-readMsg: rgb(25, 78, 78);
    --bg-message: lightblue;

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:var(--main-bg-color);
    background-image: var(--main-bg-image);
}

a {
    text-decoration: none;
    font-size: var(--main-font-size);
    color: var(--link-color);
}
li {
    list-style: none;
}
p {
    margin: 0;
}
:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: .15rem;
}
::-webkit-scrollbar-thumb {
    background: var(--theme-color);
}
.inputMsg textarea::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 160px){
    html {
        font-size: 16px ;
    }
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2rem 95%;
        overflow: hidden;
        position: fixed;
    }
    img {
        width: 1.5rem;
        height: auto;
    }
    li {
        list-style: none;
    }
    a :active, 
    .chat li:active, 
    .createGr div label:active,
    .useropt a:active,
    .inputMsgBtn:active {
        background-color: var(--link-hover-bg-color);
        color: var(--link-hover-color);
        border-radius: 0.1rem;
    }
    /* a, 
    .chat li, 
    .createGr div label,
    .useropt a,
    .inputMsgBtn {
        transition: 10ms;
    } */
    
    .header {
        position: relative;
        grid-row: 1;
        border-bottom: var(--border);
    }
        .header img {
            position: absolute;
            top: 0.2rem; 
        }
        .alert {
            position: absolute;
            background-color: var(--bg-message);
            max-width: max-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 1rem;
            height: 1.2rem;
            font-size: var(--medium-font-size);
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: growAndShrink 5s forwards;
        }
        @keyframes growAndShrink {
            0% {
                width: 0;
                opacity: 0;
            }
            5% {
                opacity: 1;
            }
            40%, 85% {
                width: 70%;
                opacity: 1;
            }
            95% {
                opacity: 1;
            }
            100% {
                width: 0;
                opacity: 0;
            }
        }
        .alert p {
            position: relative;
            overflow: hidden;
            width: fit-content;
            height: 1rem;
            overflow-wrap: break-word;
            word-break: break-all;
        }
            .usericon {
                left: 2rem;
                width: 1.2rem;
                padding: .2rem;
            }
            .logouticon {
                right: 2rem;
                width: 1.3rem;
                padding: .2rem;
            }
            .usernav {
                display: flex;
                position: absolute;
                left: 0;
                top: 2rem;
                z-index: 5;
                height: 18rem;
                width: 90%;
                color: var(--main-color);
                background-color:var(--main-bg-color);
                background-image: var(--main-bg-image);
                transition: all 0.4s;
                border-top: 0;
                border-left: 0;
                box-shadow: .1rem .1rem .2rem black;
            }
            .moveUsernav {
                left: -100%;
                transition: all 0.2s;
            }
                .useropt {
                    width: 34%;
                    margin: auto 0;
                }
                    .useropt a {
                        display: block;
                        margin: 0 .5rem;
                        text-align: center;
                        padding: .7rem .2rem ;
                        font-size: var(--medium-font-size);
                    }
                    .userinfo  {
                        width: 66%;
                        padding-left: 1rem;
                        margin: auto .3rem auto 0;
                        border-left: var(--border);
                    }
                    .userinfo div {
                        margin: 1.5rem .5rem;
                    }
                        .userinfo h5 {
                            margin: 0;
                            font-size: var(--medium-font-size);
                        }
                        .userinfo p {
                            width: 100%;
                            max-height: 5rem;
                            overflow-y: auto;
                            text-align: justify;
                            margin-top: .2rem;
                            padding-right: .4rem;
                            font-size: var(--medium-font-size);
                            overflow-wrap: break-word;
                        }
    .createUser, .login {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image:var(--main-bg-image);
        z-index: 10;
        width: 20rem;
        height: 20rem;
        text-align: center;
        font-size: var(--main-font-size);
        border-radius: 1rem;
        box-shadow: .01rem .01rem .2rem black, -.01rem -.01rem .2rem black ;
        color: white;
    }
    .createUser {
        height: 31rem;
    }
        .createUser form {
            position: relative;
            top: 1.5rem;
            width: 85%;
            margin: auto;
        }
            .createUser textarea {
                height: 6.5rem;
                width: 97%;
                padding-left: .5rem;
                font-size: var(--main-font-size);
                resize: none;
                border: var(--border);
            }
        .login p {
            position: relative;
            top: 2rem;
            font-weight: bold;
        }
        .login form {
            position: relative;
            top: 2.7rem;
            width: 80%;
            margin: auto;
        }
            label {
                display: block;
                width: 110%;
                margin: 1rem 0 .2rem;
                text-align: left;
            }
            .login input, .createUser input {
                width: 98%;
                height: 1.2rem;
                font-size: var(--main-font-size);
                border: var(--border);
                padding-left: .5rem;
            }
            .login a {
                position: relative;
                top: 4.8rem; 
                cursor: pointer;
            }
            .submit {
                display: inline-block;
                margin: 1.5rem 0 0;
                border: var(--border);
                border-radius: 1rem;
                padding: .4rem 0 1.4rem;
                background-color: azure;
                cursor: pointer;
            }  
    .chat {
        grid-row: 2;
        color: var(--link-color);
    }
        .chat header {
            position: sticky;
            top: 1rem;
            display: inline-flex;
            width: 100%;
            box-shadow: 0 .05rem .1rem black;
        }
            .chat header * {
                margin: auto;
            }
            .chat header img {
                width: 1.2rem;
                padding: 0.3rem;
                margin: 0.2rem 0 0 ;
            }
        .chat ul {
            height: 100%;
            margin: 0;
            margin-right: .1rem;
            padding: 0;
            overflow-y: auto;
        }
            .chat li {
                padding: 0.5rem 0 0.4rem 2rem;
                font-size: var(--small-font-size);
            }
                .chat li > p {
                    display: inline-flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 1.2rem;
                    overflow: hidden;
                    font-size: var(--main-font-size);
                }
                    .chat li p span {
                        font-size: var(--small-font-size);
                        margin-right: 2rem;
                    }
                .chat li > span {
                    display: block;
                    height: var(--medium-font-size);
                    width: 81%;
                    overflow-wrap:break-word;
                    word-break: break-all;
                    overflow: hidden;
                }
                

        .create {
            position: absolute;
            right: 0;
            z-index: 2;
            width: 80%;
            height: 15rem;
            background-color: var(--main-bg-color);
            background-image: var(--main-bg-image);
            box-shadow: -.1rem .1rem .2rem black;
            transition: all 0.6s;
        }
        .moveCreate {
            top: -100%;
            transition: all 0.2s;
        }
            .createChat, .createGr {
                display: none;
                margin-left: 2rem;
                height: 11rem;
            }
                .createChat ul {
                    overflow-y: auto;
                    margin: 0 1rem 0 0;
                    padding: 0 .2rem 00;
            }
                    .createChat li {
                        padding-left: 1rem;
                        font-size: var(--main-font-size);
                    }
            .createGr {
                position: relative;
                width: 80%;
            }
                .createGr label{
                    font-size: var(--main-font-size);
                }
                .createGr input {
                    font-size: var(--main-font-size);
                    width: 101%;
                    border: var(--border);
                }
                .createGr div {
                    height: 70%;
                    width: 99%;
                    overflow-y: auto;
                    margin: 0;
                    margin-top: .5rem;
                    padding-left: 1rem;
                }
                        .createGr div label{
                            box-sizing: border-box;
                            width: 99%;
                            position: relative;
                            margin: 0;
                            padding: .5rem 0 .5rem 2rem;
                        }
                            .createGr label input {
                                width: fit-content;
                                padding: 0;
                                position: absolute;
                                left: .1rem;
                                margin: auto;
                            }
                        .createGr img {
                            display: none;
                            position: absolute;
                            top: 98%;
                            right: 0;
                            width: 1.2rem;
                            padding: .4rem;
                            border-radius: 2rem;
                            background-color: var(--main-bg-color);
                        }
                        .createGr img:active {
                            background-color: black;
                        }

    .message {
        position: relative;
        color: var(--message-color);
        grid-row: 2;
        display: grid;
        grid-template-rows: 3rem 1fr minmax(1rem, auto);
    }
        .message header {
            grid-row: 1;
            position: sticky;
            padding: 0.5rem 0 0 3rem;
            z-index: 2;
            /* font-size: var(--main-font-size); */
            color: var(--main-color);
        }
        .message header p {
            font-size: var(--small-font-size);
            width: 99%;
            height: 1rem;
            overflow: hidden;
        }
            .message header a img {
                position: absolute;
                top: 0.7rem;
                width: 1.2rem;
                padding: .2rem;
            }
            .message header a:first-child img {
                left: 0.2rem;
            }
            .message header a:last-child img {
                display: block;
                right: 0.2rem;
            }
          .aside {
            z-index: 1;
            position: absolute;
            right: 0;
            top: 2.9rem;
            width: 70%;
            height: fit-content;
            padding-bottom: 1rem;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--bg-readMsg);
            background-image: var(--main-bg-image);
            box-shadow: -.1rem .1rem .2rem black;
            transition: all 0.4s;
            color: var(--main-color);
            font-size: var(--medium-font-size);
        }
        .moveAside {
            right: -100%;
            transition: all 0.2s;
        }
            .aside > div {
                margin: 2rem 2rem;
            }
            .aside .group div > a {
                display: block;
                margin-top: 1rem;
            }
                .aside .group div div{
                    display: inline-flex;
                    justify-content: space-between;
                    width: 100%;
                    margin: .5rem 0;
                }
                .aside .group div input{
                    width: 85%;
                }
                .aside .group img {
                    width: 1rem;
                    height: 1rem;
                }
            .aside > * {
                margin: 1rem 2rem;
            }
            .aside .userinfo {
                border: 0;
            }
            .aside .userinfo div{
                margin: 1rem;
                margin-left: 0;
                width: 90%;

            }
                .aside > a {
                    display: block;
                    margin: 3rem 2rem 1rem;
                }
            .aside li {
                display: inline-flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                margin-bottom: .4rem;
            }
            .aside img {
                width: .8rem;
                height: .8rem;
                margin: auto .2rem;
            }
            .asideadm {
                display: none;
                height: 12vh;
                overflow-y: auto;
                position: relative;
            }
                .asideadm + img {
                    display: none;
                    position: absolute;
                    right: 2rem;
                    bottom: 1rem;
                }

            

       .readMsg {
            grid-row: 2; 
            z-index: 0;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--bg-readMsg);
        }
            .readMsg ul {
                width: 97%;
                margin: 0;
                padding-left: 0.4rem;
            }
            .mymessage, .yourmessage {
                position: relative;
                clear: both;
                width: fit-content;
                min-width: 3rem;
                max-width: 80%;
                margin-bottom: 0.6rem;
                border: solid .5rem transparent;
                border-top: solid .25rem transparent;
                background-color: var(--bg-message);
                /* font-size: var(--main-font-size); */
            }
            .yourmessage {
                left: .3rem;
                margin-left: 1%;
                border-radius: .3rem;
            }
            .yourmessage::after, .mymessage::after {
                content: '';
                position: absolute;
                top: 20%;
                width: 0;
                height: 0;
                border: 1rem solid transparent;
                border-top: 0;
            }
            .yourmessage::after {
                left: -2.3rem;
                border-right-color: var(--bg-message);
            }
            .mymessage {
                margin:.5rem 0 .5rem auto ;
                margin-right: 1.5%;
                border-radius: .3rem;
            }
            .mymessage::after {
                right: -1.3rem;
                border-right: 0;
                border-left-color: var(--bg-message);
            }
                .readMsg p {
                padding: 0;
                margin-bottom: .4rem;
                overflow-wrap: break-word;
                }
                    .yourmessage span, .mymessage span {
                        position: absolute;
                        height: var(--small-font-size);
                        line-height: var(--small-font-size);
                        text-align: center;
                        right: 0;
                        bottom: -0.45rem;
                        font-size: var(--small-font-size);
                    }
                    .yourmessage .spanuser {
                        position: relative;
                        top: -.1rem;
                    } 
                    .mymessage p + span {
                        right: 1.2rem;
                    }
                    .mymessage p + span + span {
                        font-size: .6rem;
                        font-weight:bolder;
                        right: .45rem;
                        color: gray;
                    }
                    .mymessage p + span + span + span {
                        font-size: .6rem;
                        font-weight: bolder;
                        color: gray;
                    }
                    .seen {
                        color: blue !important;
                    }
            .info {
                width: fit-content;
                margin: .2rem auto;
                padding: .2rem;
                text-align: center;
                font-size: var(--medium-font-size);
                background-color: black;
                color: var(--main-color);


            }  
            .dateMsg {
                position: sticky;
                top: 0.4rem;
                z-index: 1;
                text-align: center;
                margin: .5rem 0;
                color: white;
                font-size: var(--medium-font-size);
            }
                .dateMsg span {
                    display: inline-block;
                    background-color: black;
                    width: 4.7rem;
                    border-radius: .3rem;
                }
        .inputMsg {
            grid-row: 3;
        }
            .inputMsg div {
                display: inline-flex;
                width: 100%;
                justify-content: space-around;
                margin: 0.5rem 0;
            }
                .inputMsg textarea {
                    width: 90%; 
                    height: 1rem;  
                    max-height: 10rem;
                    background-color: transparent;
                    resize: none;
                    border: 0;
                    margin: auto 0 auto .8rem;
                    font-size: var(--main-font-size);
                    color: var(--main-color);
                }
                .inputMsgBtn {
                    margin: auto .4rem ;
                    width: 1.2rem;
                    padding: .2rem;
                    border-radius: .5rem; 
                    border: var(--border); 
                }
}

@media screen and (min-width: 768px){
    html {
        font-size: 18px ;
    }
    body {
        grid-template-rows: 2rem 96%;
        grid-template-columns: 25% 75%;
    }
    a :hover, 
        .chat li:hover, 
        .createGr div label:hover,
        .useropt a:hover,
        .aside img:hover,
        .inputMsgBtn:hover {
            background-color: var(--link-hover-bg-color);
            color: var(--link-hover-color);
            border-radius: 0.1rem;
            cursor: pointer;
    }
    .header {
        grid-column: 1 / -1;
        z-index: 5;   
        background-image: var(--main-bg-image);
    }
        .usericon {
            left: 12.25%;
        }
        .logouticon {
            right: 12.25%;
        }
        .usernav {
            width: 40%;
            z-index: 8;
             background-image: var(--main-bg-image); 
        }
    .chat {
        grid-column: 1 / span 1;

    }
        .chat header {
            height: 2.89rem;
            border-right: var(--border);
            z-index: 4;
            background-image: var(--main-bg-image);

        }
        .create {
            width: 40%;
            left: 17%;
            top: 5rem;
            z-index: 1;
        }
        .moveCreate {
            top: -100%;
        }
    .message {
        grid-column: 2 / span 2;
    }
        .divtemp {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            color: var(--main-color);
            border-left: var(--border);
        }
        .divtemp p{
            text-align: center;
            margin: auto;
        }
        .message header {
            z-index: 3;
            background-image: var(--main-bg-image);
        }
            .message header img {
                display: none;
            }
        .aside {
            width: 50%;
        }
        .readMsg ul {
            width: 98.5%;
        }
        .inputMsg {
            border-left: 0.01rem solid var(--bg-readMsg);
        }

}


