{% extends "chat/base.html" %}

{% block content %}
<section id="createUser" class="createUser">
    <form method="POST">
        {% csrf_token %}
        {% if form.username %}
        <label for="id_username">*Nom d'utilisateur</label>
        {{form.username}}
        {% endif %}
        {% if form.errors.username %}
            <p>{{form.errors.username.as_text}}</p>
        {% endif %}
        <label for="id_email">Adresse mail</label>
        {{form.email}}
        <label for="id_num_tel">Téléphone</label>
        {{form.num_tel}}
        {% if form.errors.num_tel %}
            <p>{{form.errors.num_tel.as_text}}</p>
        {% endif %}
        <label for="id_password">*Mot de passe</label>
        {{form.password}}
        {% if form.errors.password %}
            <p>{{form.errors.password.as_text}}</p>
        {% endif %}
        <label for="id_info">Info</label>
        {{form.info}}
        <input class="submit" type="submit" value="Valider">
    </form>
</section>
{% endblock content %}