{% if chats is not None %}
    <h4>Groupes</h4>
    <ul>
        {% for chat in chats %}
            {% if chat.groupe %}
                <li>{{ chat }}</li>
            {% else %}
                {% for util in chat.utilisateurs.all %}
                    {% if user != util %}
                        <li>{{ util }}</li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
    <h4>Messages</h4>

        {% for chat in chats %}
            {% if chat.groupe %}
                <h5>{{ chat }}</h5>
            {% else %}
                {% for util in chat.utilisateurs.all %}
                    {% if user != util %}
                        <h5>{{ util }}</h5>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <ul>
                {% for message in chat.get_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
{% endif %}

{% if users is not None %}
    <ul>
            <li><a href="{% url 'chat:createGr' %}">Créer un groupe</a></li>
            {% for user in users %}
            <li><a href="{% url 'chat:createMsg' user.id %}">{{ user }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if message is not None %}
    <form method="post">
        {% csrf_token %}
        {{ message.as_p }}
        <input type="submit" value="Envoyer">
    </form>
{% endif %}

{% if group is not None %}
    <form method="post">
        {% csrf_token %}
        {{ group.as_p }}
        <input type="submit" value="Créer">
    </form>
{% endif %}