{% extends "chat/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

    <section class="header">
        <a id="userBtn" >
            <img class="usericon" src="{% static 'images/user.png' %}" alt="usericon">
        </a>
        <nav id="usernav" class="usernav moveUsernav">
            <div class="useropt">
                <a href="{% url 'compte:logout' %}" id="logout">Logout</a>
                <a href="{% url 'compte:createUser' %}" id="updateUser">Actualiser le compte</a>
                <a href="{% url 'compte:deleteUser' %}" id="logout">Supprimer le compte</a>
            </div>
            <div class="userinfo">
                <div>
                    <div>
                        <h3>{{ user.get_username|capfirst }}</h3>
                    </div>
                    <h5>Info</h5>
                    <p>
                        {% if not user.info %}
                            Non renseigné
                        {% endif %}
                        {{ user.info }}
                    </p>
                </div>
                <div>
                    <h5>Mail</h5>
                    <p>
                        {% if not user.email %}
                            Non renseigné
                        {% endif %}
                        {{ user.email }}
                    </p>
                </div>
                <div>
                    <h5>Téléphone</h5>
                    <p>
                        {% if not user.tel_num %}
                            Non renseigné
                        {% endif %}
                        {{ user.tel_num }}
                    </p>
                </div>
            </div>  
        </nav>
        <a href="{% url 'compte:logout' %}" id="logout">
            <img class="logouticon" src="{% static 'images/logout.png' %}" alt="logouticon">
        </a>
        <div id='alert'>
            <p></p>
        </div>
    </section>

    <section class="chat">
        <header>
            <h4>Chats</h4>
            <a  id="createChatBtn">
                <img src="{% static 'images/create.png' %}" alt="createicon">
            </a>
        </header>
        <div id="create" class="create moveCreate">
            <div id="createChat" class="createChat">
                <h4>Nouveau chat</h4>
                <ul>
                    <li id="createGrBtn"><a>Créer un groupe</a></li>
                </ul>
            </div>
            <div id="createGr" class="createGr">
                <h4>Nouveau groupe</h4>
            </div>
        </div>
        <ul>
        </ul>
    </section>


    <section class="message">
        <div class="divtemp">
            <p>Sélectionner ou créer un nouveau chat.</p>
        </div>
    </section>

    <script src="{% static 'js/script.js' %}"></script>

{% endif %}
{% endblock content %}


    

