<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>SAE-302 Messagerie instantanée</title>
</head>
<body>
    <section id="login" class="login">
        <p>Voulez-vous  chapoter? <br> Allez, connectez vous!</p>
        <form method="post" >
            <input type="hidden" name="csrfmiddlewaretoken" value="LyOfG7KZ7xvEDFCO8JDp7RQbQCongYmpV6PvlmU3Ko9pBIV8zOIPpG7lt6sDCp8M">
            <label for="id_username">Nom d&#x27;Utilisateur</label>
            <input type="text" name="username" required id="id_username">
            <label for="id_password">Mot de passe</label>
            <input type="password" name="password" required id="id_password">
            <input class="submit" type="submit" value="Connecter">
        </form>
        <a id="createUserBtn">Créer une compte</a> 
    </section>

    <section id="createUser" class="createUser">
        <form method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="90wc3lu1Ym4FOydWiB1iqb8egjClwaFRjyxsIAE5BdIqMBwgJG6II0poTNGBSBre">
            <label for="id_username">Username</label>
            <input type="text" name="username" required id="id_username">
            <label for="id_email">Email address</label>
            <input type="email" name="email" maxlength="254" id="id_email">
            <label for="id_num_tel">Téléphone</label>
            <input type="text" name="num_tel" maxlength="17" id="id_num_tel">
            <label for="id_password">Mot de passe</label>
            <input type="password" name="password" required id="id_password">
            <label for="id_info">Info</label>
            <textarea name="info" cols="40" rows="10" maxlength="200" id="id_info"></textarea>
            <input class="submit" type="submit" value="Valider">
        </form>
    </section>

    <section class="header">
        <a id="userBtn" >
            <img class="usericon" src="../static/user.png" alt="">
        </a>
        <nav id="usernav" class="usernav moveUsernav">
            <div class="useropt">
                <a id="logout">Logout</a>
                <a id="updateUser">Actualiser le compte</a>
                <a id="logout">Supprimer le compte</a>
            </div>
            <div class="userinfo">
                <div>
                    <h5>Info</h5>
                    <p>
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            
                    </p>
                </div>
                <div>
                    <h5>Mail</h5>
                    <p>user@mail.com</p>
                </div>
                <div>
                    <h5>Téléphone</h5>
                    <p>+01212221</p>
                </div>
            </div>  
        </nav>
        <a id="logout">
            <img class="logouticon" src="../static/logout.png" alt="">
        </a>
    </section>

    <section class="chat">
        <header>
            <h4>Chats</h4>
            <a id="createChatBtn">
                <img src="../static/create.png" alt="">
            </a>
        </header>

        <div id="create" class="create moveCreate">
            <div id="createGr" class="createGr">
                <h4>Nouveau groupe</h4>
                <label for="id_name">Nom du groupe</label>
                <input type="text" name="name" required id="id_name">
                <select hidden name="users" required id="id_users" multiple>
                </select>
                <div>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                    <label><input type="checkbox" id="option" value="29"/>John</label>
                </div>
            </div>

            <div id="createChat" class="createChat">
                <h4>Nouveau chat</h4>
                <ul>
                    <li id="createGrBtn">Créer un groupe</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                    <li>adm</li>
                </ul>
            </div>
        </div>

        <ul>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
            <li> 
                <a >G3<span>1:16 p.m.</span></a>
                <span>john : msg 59</span>
            </li>
        </ul>
    </section>

    <section class="message">
        <header>
            <a id="backBtn">
                <img src="../static/back.png" alt="">
            </a>
            <a>G2</a>
            <p>User, User1</p>
        </header>
        <div class="readMsg">
            <ul>
                <li class="dateMsg"><span>12/12/2023</span></li>
                <li class="mymessage">
                    <p>User : msg 15</p>
                    <span>1:16 p.m.</span>
                </li>
            
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
            
                <li class="mymessage">
                    <p>User : msg 15</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="dateMsg"><span>2/9/2023</span></li>
            
                <li class="mymessage">
                    <p>User : msg 15</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="mymessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="mymessage">
                    <p>User : msg 15</p>
                    <span>1:16 p.m.</span>
                </li>
                <li class="yourmessage">
                    <p>def post(self, request):
                        id_users = dict(request.POST)['users']
                        name_group = request.POST['name'].capitalize()
                        if name_group != '':
                            chat,_ = Chat.objects.get_or_create(name=name_group, groupe=True)
                            chat.users.add(request.user) 
                            chat.adm = request.user
                            for id in id_users:
                                chat.users.add(User.objects.get(id=id)) 
                                return redirect('chat:handleGr'return redirect('chat:handleGrhandleGr', chat.pk)
                        return redirect('chat:createChat')</p>
                    <span>1:16 p.m.</span>
                </li>
            
                <li class="mymessage">
                    <p>User : msg 15</p>
                    <span>1:16 p.m.</span>
                </li>
            
                <li class="yourmessage">
                    <p>User2 : msg 92</p>
                    <span>1:16 p.m.</span>
                </li>
            </ul>
        </div>
        <div class="inputMsg">
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="sCYDTa08E9zpENbci45k7FnxhkQ4nFr8CaZTypach0daCQuwJ9aKpuEHUOUkJ6dv">
                <!-- <p> -->
                <textarea name="text" placeholder="Taper le message..." maxlength="2000" required id="id_text"></textarea>
                <!-- </p> -->
                <!-- <p> -->
                <input type="hidden" name="chat" value="15" required id="id_chat">
                <!-- </p> -->
                <input class='inputMsgBtn' type="image" src="../static/sender.png" name="submit" alt="Envoyer">
            </form>
        </div>
    </section>
    <script src="../js/script.js"></script>
</body>
</html>